<!DOCTYPE html>
<html lang="fr">
  <head> </head>
  <body>
    <p>Bienvenue sur la page de connection</p>

    {% extends "base.html" %} {% block content %} {% if erreur %} {{erreur}} {%
    endif %}
    <form action="{{url_for('index')}}" method="POST">
      <div class="field">
        <label class="label"> Email </label>
        <div class="control">
          <input
            class="input"
            type="email"
            name="mail"
            placeholder="mail@mail.fr"
          />
        </div>
      </div>
      <div class="field">
        <label class="label"> Mot de passe </label>
        <div class="control">
          <input
            class="input"
            type="password"
            name="mdp"
            placeholder="Mot de passe"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Confirmer le Mot de passe</label>
        <div class="control">
          <input
            class="input"
            type="password"
            name="verif_mdp"
            placeholder="mot de passe "
          />
        </div>
      </div>
      <button type="submit" class="button">Créer un compte</button>
    </form>
    {% endblock %}
  </body>
</html>
